:root{
    --inputs-laterales:  linear-gradient(#D76369, #F4AA74);
    --red: #D76369;
    --orange: #F6AA6F;
    --black: #171717;
    --gray: linear-gradient(#363636, #242424);
  }
  
  *{
    box-sizing: border-box;
  }
  
  body{
    margin: 0;
    font-family: Arial;
    background: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    background: var(--gray);
  }
  
  html{
    font-size: 62.5%;
    color: white;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--gray);
  }
  /* 
  li {
    float: left;
  } */
  
  .menu_li--left{
    float: left;
    margin-left: 8%;
    padding: 5px;
  }
  
  /* MENU LATERAL */
  .lateral {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 4.7%;
    /* min-width: 5%; */
    background: #000000;
    position: fixed;
    height: 100%;
    overflow: hidden;
  }
  
  .lateral_item .pulpo{
    padding: 8px 11px;
  }
  
  .tres-iconos{
    margin-top: 320%;
  }
  
  .lateral_item .center-icon {
    margin-top: 8%;
    display: block;
    color: white;
    padding: 14%;
    text-decoration: none;
  
  }
  
  .lateral_item .center-icon:hover{
    border-left: 5px solid white;
    background: #1f1f1f;
  }
  
  .lateral_item .center-icon_conf {
    display: block;
    margin-top: -21%;
    color: white;
    padding: 14%;
    text-decoration: none;
  
  }
  
  .lateral_item .center-icon_conf:hover{
    border-left: 5px solid white;
    background: #1f1f1f;
  }
  
  .lateral_item .logout img{
    display: block;
    color: white;
    padding: 8px 18px;
    text-decoration: none;
    position: absolute;
    bottom: 30;
  }
  
  
  /* .lateral_item a:hover:not(.active) {
    background-color: #555;
    color: white;
  } */


  /* detail */
  .title{
    margin-left: 10%;
    font-size: 1.4rem;
}

.horizontal .horizontal_graficas--1{
    display: flex;
    padding: 10px;
}

.cont_hor-1{
    padding: 10px;
    width: 50%;
    height: 30%;
    margin-left: 10%;
    border-radius: 20px;
    font-size: 1.3rem;
    background-color: var(--black);
}

.cont_hor-1 .imgs_gp62{
    width: 20%;
}

.imgs_gp62 .src3{
    margin-left: 15px;
}

.cont_text .contenido{
    display: flex;
    margin-left: 170px;
}

.title-cont_text{
    display: flex;
    margin-top: -110px;
    margin-left: 170px;
}

.title-cont_text button {
    width: 80px;
    margin-top: 15px;
    margin-left: 20px;
    height: 20px;
    font-size: 1.0rem;
    border: none;
    border-radius: 20px;
    background-color: orangered;
}

.contenido .num{
    margin-top: -5px;
}

.contenido .model{
    margin-top: 10px;
    margin-left: -113px;
}

.contenido .marca{
    margin-top: 26px;
    margin-left: -50px;
}

.contenido .km{
    margin-top: 42px;
    margin-left: -42px;
}

.content_results{
    float: right;
    margin-top: -93px;
}

.content_results p{
    margin-bottom: -13px;
    margin-left: -130px;
}

/* sec contenedor */
.hor_2{
    width: 35%;
    height: 25%;
    border-radius: 20px;
    font-size: 1.3rem;
    float: right;
    background-color: var(--black);
}

.hor_2 .hor_2-content{
    display: flex;
    padding: 10px;
}

.hor_2-content h3{
    padding: 10px;
    margin-top: -5px;
    margin-left: 30px;
}

.cont_hor-2{
    margin-top: 40px;
    margin-left: -80px;
    margin-right: 50px;
}

.cont_hor-2 img{
    width: 58px;
}

.contenido2 h4{
    margin-bottom: -10px;
    margin-right: 10px;
}

.results-contenido2{
    margin-top: 4px;
}

.results-contenido2 p{
    margin-bottom: -5px;
}

/* third container */
.hor_3{
    width: 80%;
    height: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    font-size: 1.3rem;
    background-color: var(--black);
}

.hor_3 .hor_3-content{
    display: flex;
    padding: 10px;
}

.title-hor_3{
    display: flex;
    margin-left: 30px;
}

.title-hor_3 button {
    width: 80px;
    margin-top: 15px;
    margin-left: 20px;
    height: 20px;
    font-size: 1.0rem;
    border: none;
    border-radius: 20px;
    background-color: orangered;
}

.icon-pulpo {
    /* margin-top: 100px; */
    margin-left: -250px;
    margin-right: 150px;
}

.icon-pulpo img{
    display: flex;
    align-items: center;
    width: 220%;
    height: 50%;
}

.icon-pulpo p{
    text-align: center;
}

.time-run{
    display: flex;
    margin-top: 120px;
    margin-right: 200px;
}

.time-run img{
    width: 70px;
    height: 65px;
}
.time-run h3{
    margin-left: 10px;
}

.time-run p{
    margin-top: 37px;
    margin-left: -115px;
}

.grafica{
    width: 20%;
    margin-top: 40px;
}
  /* hamburguer */
  .icono-menu{
    display: none;
  }
  
  .cont-menu{
    display: none;
  }
  
  /* Estilos para el ícono del Menú */
  .icono-menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
  }
  
  .icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
  }
  
  /* Estilos para el contenedor del Menú */
  .cont-menu{
    background-color: rgb(42,42,42);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
  }
  
  /* Estilos por agregar en JavaScript */
  .active{
    transform: translate(-600px);
  }
  
  /* Estilos para el listado del Menú */
  .cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
  }
  
  .cont-menu ul .burger-icon{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
  }
  
  .cont-menu ul .burger-icon:hover{
    background-color: rgb(228,228,228);
    color: rgb(42,42,42);
  }
  
  /* celular */
  @media only screen and (max-width: 600px){
    .lateral{
      display: none;
    }
    .icono-menu{
      display: flex;
    }
    
    .cont-menu{
      display: flex;
    }
  
    
  }

  /* haburguer */
  .icono-menu{
    display: none;
  }
  
  .cont-menu{
    display: none;
  }
  
  /* Estilos para el ícono del Menú */
  .icono-menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
  }
  
  .icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
  }
  
  /* Estilos para el contenedor del Menú */
  .cont-menu{
    background-color: rgb(42,42,42);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
  }
  
  /* Estilos por agregar en JavaScript */
  .active{
    transform: translate(-600px);
  }
  
  /* Estilos para el listado del Menú */
  .cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
  }
  
  .cont-menu ul .burger-icon{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
  }
  
  .cont-menu ul .burger-icon:hover{
    background-color: rgb(228,228,228);
    color: rgb(42,42,42);
  }
  
  /* celular */
  @media only screen and (max-width: 600px){
    .lateral{
      display: none;
    }
    .icono-menu{
      display: flex;
    }
    
    .cont-menu{
      display: flex;
    }
  
    
  }