:root{
    --inputs-laterales:  linear-gradient(#D76369, #F4AA74);
    --red: #D76369;
    --orange: #F6AA6F;
    --black: #171717;
    --gray: linear-gradient(#363636, #242424);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: var(--gray);
}

html{
    font-size: 62.5%;
    color: white;
}

/* MENÚ */
header{
    margin-bottom: 80px;
    height: 55px;
}

.menu{
    width: 100%;
    float: left;
}

/* .menu ul {
    margin-left: 10px;
} */

.menu ul .menu_li--left{
    list-style: none;
}

.menu ul .menu_li--left img{
    /* width: 30px; */
    height: 30px;
    margin-left: 80px;
    float: left;
}

.menu ul .menu_li--right{
    float: right;
    list-style: none;
    text-align: left;
    padding: 5px;
}

.menu ul .menu_li--right input {
    margin-right: 10px;
    /* margin-left: 10px; */
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.menu ul .menu_li--right select {
    margin-right: 10px;
    width: 100px;
    height: 24.5px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.menu ul li .li_input--date{
    width: 100px;
    height: 15px;
}

/* MENÚ LATERAL */
.container-menu2{
    position: absolute;
    width: 5%;
    height: 100vh;
    top: 0;
    left: 0;
}

.content{
    width: 100%;
    max-width: 100px;
    background: #000000;
    height: 100vh;
    position: relative;
}

.content nav {
    margin-top: 170px;
    transform: translateY(15%);
}

.content .pulpo{
    width: 40px;
    height: 35px;
    padding: 13px;
}

.content .logout_btn{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: white;
    margin-top: 210px;
    margin-left: 10px;
    border-left: 5px solid transparent;
}

.content nav a {
    display: block;
    margin-bottom: 9px;
    text-decoration: none;
    padding: 6px;
    color: white;
    border-left: 5px solid transparent;
}

.content nav a:hover{
    border-left: 5px solid white;
    background: #1f1f1f;
}

/* PRIMERAS 2 GRÁFICAS */
.horizontal{
    width: 70%;
    height: 420px;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 1.3rem;
    background-color: var(--black);

}

.horizontal h2 {
    font-size: 2.6rem;
    padding: 30px;
}

.horizontal .horizontal_graficas--1{
    /* display: flex; */
    margin-top: -30px;
}

.horizontal_graficas--1{
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.browser{
    display: flex;
    float: right;
    margin-top: -15px;
}

.browser input{
    height: 30px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);
}


.menu_button .menu_li--right{
    height: 30px;
    background-color: #F6AA6F;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.5px;
}

/* .trucks{
    margin-top: 30px;
} */

.trucks{
    
    width: 100%;
    height: 250px;
    margin-top: 30px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .trucks a{
    text-decoration: none;
    color: white;
  }

  .trucks::-webkit-scrollbar{
    width: 10px;
  }
  
  .trucks::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: black
  }
  
  .trucks::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #363636
  }

  .chat{
    display: flex;
    width: 80%;
    /* margin-bottom: 10px;
    margin: 5px 10px 0; */
    flex-flow: row wrap;
    align-items: flex-start;
    /* border-radius: 10px;
    font-size: 15px; */
  }

.truck_number{
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: black;
}

.truck_number img{
    height: 30px;
    margin-top: 11px;
    margin-left: 10px;
}

.truck_number h4{
    margin-left: 15px;
}
