<head>
    {% load static %}
  <link rel="stylesheet" href="{% static 'css/config2.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <title>FASE PULPO</title>
</head>
<body>
{% comment %} menu hamburguesa mobile {% endcomment %}
<div class="icono-menu">
    <img src="{% static 'images/open-menu.png' %}" id="icono-menu">
</div>

    <div class="cont-menu active" id="menu">
        <ul>
            <li class="burger-icon"> Dashboard </li>
            <li class="burger-icon"> Vehículos </li>
            <li class="burger-icon"> Configuración </li>
            <li class="burger-icon"> Cerrar sesión </li>
        </ul>
    </div>

<ul class="lateral">
    <li class="lateral_item"><img class="pulpo" src="{% static 'images/Trazado 9.png' %}" alt=""></li>
    <div class="tres-iconos">
      <li class="lateral_item"><a class="center-icon" href="#news"><img src="{% static 'images/dashboard.png' %}" alt=""></a></li>
      <li class="lateral_item"><a class="center-icon" href="#contact"><img src="{% static 'images/truck.png' %}"</a></li>
      <li class="lateral_item"><a class="center-icon_conf" href="#about"><img src="{% static 'images/settings.png' %}" alt=""></a></li>
    </div>
    <li class="lateral_item"><a class="logout" href="#about"><img src="{% static 'images/enter.png' %}" alt=""></a></li>
</ul>

<ul>
  <li class="menu_li--left"><img src="{% static 'images/Grupo 66.png' %}" alt=""></li>
</ul>

<section class="horizontal">
                <H2>CONFIGURACIÓN</H2>
                <section class="horizontal_graficas--1">
                    <div class="con1">
                        <div class="title_cont1">
                            <h3>PARAMETROS DE OPERACIÓN</h3>
                        </div>
                        <div class="dias_inflado">
                            <h3>Días de inflado</h3>
                            <p>Periodo 1: {{user.perfil.periodo1}} días</p>
                            <p>Periodo 2: {{user.perfil.periodo2}} días</p>
                        </div>
                        <div class="presion">
                            <h3>Parametro de presión</h3>
                            <h3>Objetivo</h3>
                            <p>Baja:+- {{user.perfil.objetivo}}%</p>
                        </div>
                    </div>

                    <div class="con2">
                        <div class="title_cont2">
                            <h3>PARAMETROS DEL USUARIO</h3>
                        </div>
                        <div class="correo">
                            <h4>Correo</h4>
                            <p>{{user.email}}</p>
                        </div>
                        <div class="nombre">
                            <h4>Nombre</h4>
                            <p>{{user.first_name}}</p>
                        </div>
                        <div class="idioma">
                            <h4>Idioma</h4>
                            <p>{{user.perfil.idioma}}</p>
                        </div>
                        <div class="unidades">
                            <h4>Unidades</h4>
                            <p>{{user.perfil.unidades}}</p>
                        </div>
                    </div>

                    <div class="con3">
                        <div class="title_cont3">
                            <h3>ALTA VEHÍCULOS</h3>
                        </div>
                        <div class="buttons">
                            <div>
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="compañia" value="{{user.perfil.compañia}}">
                                    <label>
                                        <p><input type="file" name="file">AGREGAR A LA LISTA DE EXCEL</p>
                                    </label>
                                    <label>
                                        <button class="button2" type="submit"><p class="blue_btn-text">Continuar</p></button>
                                    </label>
                                </form>
                            </div>
                            <a href="https://drive.google.com/uc?export=download&id=1Lg7iQZf_N3bwSjutnlWAJwF5mlPXERai"><button>DESCARGAR FORMATO EXCEL</button></a>
                        </div>
                    </div>                   
                </section>
            </section>

<script>
const iconoMenu = document.querySelector('#icono-menu'),
      menu = document.querySelector('#menu');

iconoMenu.addEventListener('click', (e) => {

    // Alternamos estilos para el menu y body
    menu.classList.toggle('active');
    document.body.classList.toggle('opacity');

    // Alternamos su atributo 'src' para el ícono del menú
    const rutaActual = e.target.getAttribute('src');

    if(rutaActual == '{% static 'images/open-menu.png' %}'){
        e.target.setAttribute('src','{% static 'images/open-menu2.png' %}');
    }else{
        e.target.setAttribute('src','{% static 'images/open-menu.png' %}');
    }
});
</script>
</body>
</html>